# Documentation: /docs/roles/docker.md

- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Enable Docker service
  systemd:
    name: docker
    enabled: yes
    state: started